{% extends "layout.html" %}
{% block content %}
<h1>Top 7 Videos</h1>
<table class="table">
	<thead>
		<tr>
			<th>no</th>
			<th>title</th>
			<th>user</th>
			<th>date</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>5</td>
			<td>avicii - levels</td>
			<td>tester</td>
			<td>2018.12.02</td>
		</tr>
		<tr>
			<td>4</td>
			<td>avicii - fade into darkness</td>
			<td>tester</td>
			<td>2018.12.02</td>
		</tr>
		<tr>
			<td>3</td>
			<td>avicii - X You</td>
			<td>tester</td>
			<td>2018.12.02</td>
		</tr>
		<tr>
			<td>2</td>
			<td>avicii - waiting for love</td>
			<td>tester</td>
			<td>2018.12.02</td>
		</tr>
		<tr>
			<td>1</td>
			<td>avicii - wake me up</td>
			<td>tester</td>
			<td>2018.12.02</td>
		</tr>
	</tbody>
</table>
{% endblock %}